.map-pic {
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    text-align: center;
}

.country-map {
    width: 33vw;
}

.articles-list {
    color: black;
}