.map-pic {
    width: 70vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.country-map {
    width: 33vw;
}

.articles-list {
    color: black;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    height: 18em;
    align-content: flex-start;
    padding: 1rem;
}

.percent-image {
    height: 10%;
    width: 10%;
}